node_modules/
dist/
*.log
.env
.env.local
.env.production
.DS_Store
Thumbs.db
coverage/
.nyc_output/
*.tgz
*.tar.gz
.cache/
.vscode/
.idea/

# Docker
.docker/

#extra
frontend_old/
frontend_old1/
frontend_old2/
frontend_old3/
con.py